# Copyright 2025-2026 Nana Sakisaka
# Copyright 2026 The Iris Project Contributors
#
# Distributed under the Boost Software License, Version 1.0.
# https://www.boost.org/LICENSE_1_0.txt

name: CI

on:
  pull_request:
  push:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      components: ${{ steps.processed.outputs.result }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            general:
              - '.github/workflows/*.yml'
              - 'CMakeLists.txt'
              - 'modules/iris'
              - 'test/CMakeLists.txt'
              - 'scripts/generate_tuple_members.sh'
              - 'scripts/generate_tuple_members.bat'
            alloy:
              - 'include/iris/alloy/**/*'
              - 'test/alloy/**/*'
            x4:
              - 'include/iris/x4.hpp'
              - 'include/iris/x4/**/*'
              - 'test/x4/**/*'
      - uses: actions/github-script@v8
        id: processed
        env:
          CHANGES: ${{ steps.filter.outputs.changes }}
        with:
          script: |
            const changes = JSON.parse(process.env.CHANGES);
            console.log('changes: ', changes);
            let result = [];
            if (changes.includes('general') || changes.includes('alloy')) result.push('alloy');
            if (changes.includes('general') || changes.includes('alloy') || changes.includes('x4')) result.push('x4');
            console.log('result: ', result);
            return result;

  build:
    name: "[${{ matrix.cpp_version.name }}] ${{ matrix.compiler.toolset }}-${{ matrix.compiler.version }} (${{ matrix.build_type.name }}) @ ${{ matrix.os.name }}-${{ matrix.os.version }}"

    needs: changes
    if: ${{ needs.changes.outputs.components != '[]' && needs.changes.outputs.components != '' }}

    strategy:
      fail-fast: false

      matrix:
        os:
          - name: ubuntu
            version: 24.04
          - name: windows
            version: 2022
          - name: windows
            version: 2025-vs2026
        build_type:
          - name: Debug
            lowercase: debug
          - name: Release
            lowercase: release
        cpp_version:
          - name: C++23
            number: 23
          - name: C++26
            number: 26
        compiler:
          - name: GCC
            toolset: gcc
            version: 14
            executable: g++-14
            cxxflags: -fdiagnostics-color=always
          - name: Clang
            toolset: clang
            version: 21
            executable: clang++-21
            cxxflags: -stdlib=libc++ -fcolor-diagnostics
          - name: MSVC
            toolset: msvc
            version: 2022
            toolset_version: 14.44
            builder_additional_args: -- "-consoleLoggerParameters:ForceConsoleColor"
            executable: cl
          - name: MSVC
            toolset: msvc
            version: 2026
            toolset_version: 14.50
            builder_additional_args: -- "-consoleLoggerParameters:ForceConsoleColor"
            executable: cl

        exclude:
          - os:
              name: windows
            compiler:
              name: GCC
          - os:
              name: windows
            compiler:
              name: Clang
          - os:
              name: ubuntu
            compiler:
              name: MSVC

    uses: ./.github/workflows/build.yml
    with:
      os-name: ${{ matrix.os.name }}
      os-version: ${{ matrix.os.version }}
      build-type-name: ${{ matrix.build_type.name }}
      cpp-version-name: ${{ matrix.cpp_version.name }}
      cpp-version-number: ${{ matrix.cpp_version.number }}
      compiler-toolset: ${{ matrix.compiler.toolset }}
      compiler-version: ${{ matrix.compiler.version }}
      compiler-executable: ${{ matrix.compiler.executable }}
      compiler-cxxflags: ${{ matrix.compiler.cxxflags }}
      compiler-toolset-version: ${{ matrix.compiler.toolset_version }}
      compiler-builder-additional-args: ${{ matrix.compiler.builder_additional_args }}
      components: ${{ needs.changes.outputs.components }}
